
h1 {
    font-weight: 600;
    font-size: .9em;
}

p {
    font-weight: 500;
    font-size: .8em;
    margin-bottom: 10px;  
}

#maindiv{
    width: max-content;
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;    
}

#dark{
    background-color: black;
    color: white;
}

#cornsilk{
    background-color: cornsilk;
    color: black;
}

.button{
    min-width: 75px;
    border-radius: 5%;
}
